.title {
    text-align: center;
    margin-top: 20px;
}

.formContainer {
    display: grid;
    grid-template-columns: auto;
    margin: 40px 0 0 0;
    width: 400px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
}

.radius {
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px black;
        box-shadow: 0 0 10px black;
    
}

.formItem {
    font-size: 40px;
    text-align: center;
    padding: 20px 0 20px 0;
    color: white;
}

.input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px;
}

.input:focus {
    border: 2px solid black;
}

.textColor {
    color: black;
}

.btn {
    font-size: 25px;
    background-color: #359eca;
    border: 0;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    border: 2px solid black;
}